
.el-container{
    min-height: 100vh;
}
.el-main,
.el-header{
    padding: 0 !important;
}
.el-footer{
    border-top: 1px solid #ebeef5;
    padding-top: 20px !important;
    text-align: center;
}
.el-menu--horizontal{
    background-color: #f2f3f7!important;
}

.logo {
    height: 50px;
}
  
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    border-bottom: 1px solid #ebeef5;
}

.title h1 {
    margin: 0;
}

.actions {
    display: flex;
    align-items: center;
}

.search-input {
    margin-left: 10px;
    max-width: 300px;
}

.dashboard-container{
    margin: 2% 4%;
}
.list-container {
    margin: 0 4% 1% 4%;
}

.list-card {
    display: flex;
    gap: 2%; 
    flex-wrap: wrap;
    justify-content: flex-start; 
}

.list-item {
    width: 30%;
    text-align: left;
    margin-top: 3%;
}

.list-item.sports {
    width: 250px;
}

.el-card__header{
    background-color: #4e5459;
    color: #fff;
}

.el-dialog.form-modal{
    width: 500px;
}
  
.el-tag {
    margin: 0 5px;
}


.cp-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Extra small devices (phones, 320px and up) */
@media (min-width: 320px) and (max-width: 576px) {  
    .page-title{
        display: none;
    }
    .list-container {
        margin: 0 2% 1% 2%;
    }

    .list-card {
        flex-direction: column;
        align-items: center;
    }

    .list-item {
        width: 97%;
    }

    .list-item.sports {
        width: 90%;
    }

    .el-dialog.form-modal{
        width: 98%!important;
    }

    .el-footer{
        background-color: #f8f9fa; 
        padding: 20px; 
        text-align: center;
        border-top: 1px solid #dee2e6;
        margin-bottom: 40px !important;
    }
    .el-footer p{
        margin: 0; 
        font-size: 14px; 
        color: #6c757d;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 577px) and (max-width: 768px) { 
    .list-container {
        margin: 0 2% 1% 2%;
    }

    .list-card {
        flex-direction: row;
    }

    .list-item {
        width: 45%;
    }

    .list-item.sports {
        width: 90%;
    }

    .el-dialog.form-modal{
        width: 98%!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 992px) { 
    .list-container {
        margin: 0 2% 1% 2%;
    }

    .list-card {
        flex-direction: row;
    }

    .list-item {
        width: 45%;
    }

    .list-item.sports {
        width: 90%;
    }

    .el-dialog.form-modal{
        width: 98%!important;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 993px) and  (max-width: 1200px) {

}